---

---

<section class="">
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">ABOUT</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex flex-col gap-6 mt-20">
      <div class="flex-1">
        <p
          class="text-2xl inline-block text-[rgba(241,241,241,0.75)] leading-10 sticky top-6"
        >
          My passion lies in the intersection of art and technology, creating
          visually captivating interfaces and elevating overall user digital
          experiences.
        </p>
      </div>
      <div class="flex-1">
        <p
          class="text-2xl inline-block text-[rgba(241,241,241,0.75)] leading-10"
        >
          I hold a Bachelor of Technology in Computer Science from the esteemed
          Art University and a Master of Fine Arts in Interactive Design. This
          academic foundation has equipped me with a solid understanding of the
          principles that underpin effective interaction design, providing me
          with the knowledge to create designs that seamlessly blend aesthetics
          and functionality.
        </p>
        <div class="flex flex-col gap-8 mt-8">
          <div class="rounded-md bg-[rgb(224,241,31)] w-full p-5">
            <div class="flex justify-between gap-2">
              <div class="flex-1 space-y-4">
                <h4 class="text-2xl font-bold text-black">Framer</h4>
                <p class="text-xl text-black">No code website builder tool</p>
              </div>
              <div class="grid place-items-center">
                <div class="h-10 w-1 bg-[rgba(18,18,18,.4)]"></div>
              </div>
              <div class="grid flex-1 place-items-center">
                <span class="text-6xl text-[rgb(18,18,18,.4)]">92%</span>
              </div>
            </div>
          </div>
          <div class="rounded-md bg-[rgb(224,241,31)] w-full p-5">
            <div class="flex justify-between gap-2">
              <div class="flex-1 space-y-4">
                <h4 class="text-2xl font-bold text-black">Illustrator</h4>
                <p class="text-xl text-black">Professional graphic software</p>
              </div>
              <div class="grid place-items-center">
                <div class="h-10 w-1 bg-[rgba(18,18,18,.4)]"></div>
              </div>
              <div class="grid flex-1 place-items-center">
                <span class="text-6xl text-[rgb(18,18,18,.4)]">74%</span>
              </div>
            </div>
          </div>
          <div class="rounded-md bg-[rgb(224,241,31)] w-full p-5">
            <div class="flex justify-between gap-2">
              <div class="flex-1 space-y-4">
                <h4 class="text-2xl font-bold text-black">Slack</h4>
                <p class="text-xl text-black">User interface design tool</p>
              </div>
              <div class="grid place-items-center">
                <div class="h-10 w-1 bg-[rgba(18,18,18,.4)]"></div>
              </div>
              <div class="grid flex-1 place-items-center">
                <span class="text-6xl text-[rgb(18,18,18,.4)]">80%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
