---

---

<section class="">
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">ABOUT</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex flex-col gap-6 mt-20 md:flex-row">
      <div class="flex-1">
        <p
          class="text-2xl inline-block text-[rgba(241,241,241,0.75)] leading-10 sticky top-44"
        >
          My passion lies in building robust and scalable web applications,
          bridging the gap between backend efficiency and seamless frontend
          experiences.
        </p>
      </div>
      <div class="flex-1">
        <p
          class="text-2xl inline-block text-[rgba(241,241,241,0.75)] leading-10"
        >
          With over two years of experience as a Full Stack Developer, I
          specialize in Next.js, MySQL, PHP, and Python, crafting
          high-performance solutions that enhance user interaction and system
          reliability.
          <br />
          I have completed multiple certifications, including CS50’s Introduction
          to Computer Science, Web Application Development with Python & Django,
          and Full-Stack Web Development from The Odin Project. These programs have
          strengthened my understanding of algorithms, database management, authentication,
          and REST API development, shaping my approach to software engineering.
        </p>
        <div class="flex flex-col gap-8 mt-8">
          <div class="rounded-md bg-[rgb(224,241,31)] w-full p-5">
            <div class="flex justify-between gap-2">
              <div class="flex-1 space-y-4">
                <h4 class="text-2xl font-bold text-black">Development</h4>
                <p class="text-xl text-black">Next.js, React, TailwindCSS</p>
              </div>
              <div class="grid place-items-center">
                <div class="h-10 w-1 bg-[rgba(18,18,18,.4)]"></div>
              </div>
              <div class="grid flex-1 place-items-center">
                <span class="text-2xl text-[rgb(18,18,18,.4)]">Frontend</span>
              </div>
            </div>
          </div>
          <div class="rounded-md bg-[rgb(224,241,31)] w-full p-5">
            <div class="flex justify-between gap-2">
              <div class="flex-1 space-y-4">
                <h4 class="text-2xl font-bold text-black">Engineering</h4>
                <p class="text-xl text-black">Node.js, PHP, Python</p>
              </div>
              <div class="grid place-items-center">
                <div class="h-10 w-1 bg-[rgba(18,18,18,.4)]"></div>
              </div>
              <div class="grid flex-1 place-items-center">
                <span class="text-2xl text-[rgb(18,18,18,.4)]">Backend</span>
              </div>
            </div>
          </div>
          <div class="rounded-md bg-[rgb(224,241,31)] w-full p-5">
            <div class="flex justify-between gap-2">
              <div class="flex-1 space-y-4">
                <h4 class="text-2xl font-bold text-black">Management</h4>
                <p class="text-xl text-black">MySQL, PostgreSQL</p>
              </div>
              <div class="grid place-items-center">
                <div class="h-10 w-1 bg-[rgba(18,18,18,.4)]"></div>
              </div>
              <div class="grid flex-1 place-items-center">
                <span class="text-2xl text-[rgb(18,18,18,.4)]">Databases</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
