---

---

<section>
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">CONTACT</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-6 mt-20">
      <div class="flex flex-col gap-10">
        <p class="text-2xl">
          Looking to start a project or you need consultation? Feel free to
          contact me.
        </p>

        <div class="flex flex-col text-lg">
          <span>San Francisco, CA, USA </span>
          <span class="text-[rgb(224,241,31)]">lucas@email.com</span>
          <span class="text-[rgb(224,241,31)]">+1 (555) 555-5555</span>
        </div>
      </div>
      <div class="mt-7 md:mt-0">
        <form class="space-y-4" action="">
          <div class="flex flex-col md:flex-row gap-5">
            <input
              class="bg-[rgba(240,240,240,.1)] rounded-md px-3 py-4 text-sm"
              placeholder="Jane Smith"
              type="text"
              name=""
              id=""
            />
            <input
              class="bg-[rgba(240,240,240,.1)] rounded-md px-3 py-4 text-sm"
              placeholder="Jane.Smith@gmail.com"
              type="text"
              name=""
              id=""
            />
          </div>
          <textarea
            placeholder="Message..."
            class="w-full bg-[rgba(240,240,240,.1)] rounded-md px-2 py-4 resize-none h-40 text-sm"
            name=""
            id=""></textarea>
          <div>
            <button
              class="bg-[rgb(224,241,31)] font-semibold text-black rounded-md p-2 w-full"
              >SEND</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
