---

---

<section>
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">EDUCATION</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-6 mt-20">
      <!-- CARD COLUMN -->
      <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">
            CS50’s Introduction to Computer Science
          </h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            CS50 | Certificate of Completion
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5"></p>
          <p class="text-[18px] leading-7">
            Topics covered: Computational thinking, abstraction, algorithms,
            data structures, and fundamental computer science concepts.
          </p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex-1">
          <h4 class="text-xl font-bold">
            Web Application Development with Python & Django
          </h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            Udemy | Certificate of Completion
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5"></p>
          <p class="text-[18px] leading-7">
            Built web applications using Python and Django. Covered topics like
            database management, authentication, and REST APIs.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">Full-Stack Web Development</h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            The Odin Project | Certificate of Completion
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5"></p>
          <p class="text-[18px] leading-7">
            Completed project-based, open-source Full Stack curriculum.
            High-quality coding education created by an Open-Source community.
          </p>
        </div>
        <!-- <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div> -->
        <!-- <div class="flex-1">
          <h4 class="text-xl font-bold">Art School</h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            San Francisco Design Institute
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2006 — 2007</p>
          <p class="text-[18px] leading-7">
            Acquired fundamental graphic design skills. Gained basic knowledge
            of design in general.
          </p>
        </div> -->
      </div>
    </div>
    <!-- END -->
  </div>
</section>
