---

---

<section>
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">EDUCATION</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-6 mt-20">
      <!-- CARD COLUMN -->
      <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">
            Master of Arts in Interaction Design
          </h4>
          <p class="text-[rgba(241,241,241,0.55)]">Stanford University</p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2012 — 2014</p>
          <p class="text-[18px] leading-7">
            Specialized in user research, interaction design, user interface,
            digital and graphic design.
          </p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex-1">
          <h4 class="text-xl font-bold">Diploma in Graphic Design</h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            San Francisco Design Institute
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2007 — 2008</p>
          <p class="text-[18px] leading-7">
            Focused on typography and digital design skills. Acquired
            fundamental knowledge of UI/UX.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">
            Bachelor of Science in Computer Science
          </h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            University of California, Berkeley
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2008 — 2012</p>
          <p class="text-[18px] leading-7">
            Gained a solid foundation in software development overall. Focused
            on building mobile applications.
          </p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex-1">
          <h4 class="text-xl font-bold">Art School</h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            San Francisco Design Institute
          </p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2006 — 2007</p>
          <p class="text-[18px] leading-7">
            Acquired fundamental graphic design skills. Gained basic knowledge
            of design in general.
          </p>
        </div>
      </div>
    </div>
    <!-- END -->
  </div>
</section>
