---

---

<section id="experience">
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">EXPERIENCE</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-6 mt-20">
      <!-- CARD COLUMN -->
      <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">Full-Stack Developer</h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            Casablanca Polo | 2022 - Present
          </p>
          <!-- <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2022 - Present</p> -->
          <ul class="text-[16px] leading-7 list-disc pl-5">
            <li>
              Developed and maintained an internal intranet for e-commerce
              operations using PHP (CodeIgniter) and MySQL. Managed products,
              sales, and inventory transfers across multiple countries where the
              company operates.
            </li>
            <li>
              Integrated the intranet with Shopify API to process online sales
              data.
            </li>
            <li>
              Led the migration of the intranet from PHP (CodeIgniter) to
              Next.js, improving performance and maintainability.
            </li>
            <li>
              Enhanced and customized the Shopify-Theme-commerce, adding new
              features and optimizing the user experience.
            </li>
          </ul>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">Front-End Developer</h4>
          <p class="text-[rgba(241,241,241,0.55)]">
            Latam Pet Transport | 2024
          </p>
          <!-- <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2017 — 2019</p> -->
          <ul class="text-[16px] leading-7 list-disc pl-5">
            <li>
              Developed a landing page using Astro framework, HTML, CSS, and
              JavaScript.
            </li>
            <li>
              Improved performance and loading speed, optimizing the website for
              a better user experience.
            </li>
            <li>
              Implemented SEO best practices to enhance search engine visibility
              and ranking.
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex-1">
          <h4 class="mb-3.5 text-xl font-bold">UI/UX Designer</h4>
          <p class="text-[rgba(241,241,241,0.55)]">BlendXYZ</p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2017 - 2020</p>
          <p class="text-[18px] leading-7">
            Collaborated with the development team to implement a responsive
            design approach, improving the mobile user experience and increasing
            mobile app engagement.
          </p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex-1">
          <h4 class="text-xl font-bold">Junior Designer</h4>
          <p class="text-[rgba(241,241,241,0.55)]">Internistum</p>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">2017 — 2019</p>
          <p class="text-[18px] leading-7">
            Internship and starting position in creative team as Junior
            Designer. Focused on creating wireframes, styleguides, presentations
            and prototypes for web and mobile applications.
          </p>
        </div>
      </div> -->
    </div>
    <!-- END -->
    <div class="flex flex-col md:flex-row justify-between w-full gap-10 mt-24">
      <div class="text-[rgb(224,241,31)]">
        <span class="font-bold text-7xl">2+ </span>
        <p class="mt-3 text-lg leading-6">Years <br /> Experience</p>
      </div>
      <div
        class="text-[rgb(224,241,31)] border-t-4 pt-8 md:pt-0 md:border-t-0 md:border-l-4 border-[rgba(240,240,240,.1)] md:pl-8"
      >
        <span class="font-bold text-7xl">3+ </span>
        <p class="mt-3 text-lg leading-6">Years <br /> Learning & Building</p>
      </div>
      <div
        class="text-[rgb(224,241,31)] border-t-4 pt-8 md:pt-0 md:border-t-0 md:border-l-4 border-[rgba(240,240,240,.1)] md:pl-8"
      >
        <span class="font-bold text-7xl">1K+ </span>
        <p class="mt-3 text-lg leading-6">Git <br /> Commits</p>
      </div>
    </div>
  </div>
</section>
