---

---

<section id="proyects">
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">PROYECTS</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex gap-6 mt-20">
      <div class="flex flex-col gap-10">
        <div class="flex flex-col md:flex-row items-center gap-10">
          <div class="relative group cursor-pointer">
            <img
              src="https://framerusercontent.com/images/XodgsX9fUzFedjsfP2rj9P91j0.png?scale-down-to=512"
              alt=""
            />
            <div
              class="absolute top-0 left-0 flex items-end justify-start w-full h-full overflow-hidden text-white transition-opacity duration-300 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100"
            >
              <h4
                class="p-4 text-lg font-bold text-black bg-[rgb(224,241,31)] rounded-tr-lg -translate-x-36 group-hover:translate-x-0 transition-transform duration-300"
              >
                Voice Expense Tracker
              </h4>
            </div>
          </div>
          <div class="relative group cursor-pointer">
            <img
              src="https://framerusercontent.com/images/SLVpuoBrmRsU7vMvW8MtwO6ETaU.png?scale-down-to=512"
              alt=""
            />
            <div
              class="absolute top-0 left-0 flex items-end justify-start w-full h-full overflow-hidden text-white transition-opacity duration-300 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100"
            >
              <h4
                class="p-4 text-lg font-bold text-black bg-[rgb(224,241,31)] rounded-tr-lg -translate-x-36 group-hover:translate-x-0 transition-transform duration-300"
              >
                E-commerce Platform
              </h4>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row items-center gap-10">
          <div class="relative group cursor-pointer">
            <img
              src="https://framerusercontent.com/images/D3JJyJhS5fmlvYWobXrYd727u60.png?scale-down-to=512"
              alt=""
            />
            <div
              class="absolute top-0 left-0 flex items-end justify-start w-full h-full overflow-hidden text-white transition-opacity duration-300 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100"
            >
              <h4
                class="p-4 text-lg font-bold text-black bg-[rgb(224,241,31)] rounded-tr-lg -translate-x-36 group-hover:translate-x-0 transition-transform duration-300"
              >
                Social Media
              </h4>
            </div>
          </div>
          <div class="relative group cursor-pointer">
            <img
              src="https://framerusercontent.com/images/OCcqHnz818Yn1x42EVWFW03xJ0A.png?scale-down-to=512"
              alt=""
            />
            <div
              class="absolute top-0 left-0 flex items-end justify-start w-full h-full overflow-hidden text-white transition-opacity duration-300 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100"
            >
              <h4
                class="p-4 text-lg font-bold text-black bg-[rgb(224,241,31)] rounded-tr-lg -translate-x-36 group-hover:translate-x-0 transition-transform duration-300"
              >
                Instagram
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
