---

---

<section>
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <h3 class="text-[rgb(224,241,31)] text-4xl font-bold">WRITING</h3>
      <div class="flex-1 w-full h-1 bg-[rgba(240,240,240,.1)] flex justify-end">
        <div class="w-20 h-full bg-[rgb(224,241,31)]"></div>
      </div>
    </div>
    <div class="flex gap-6 mt-20">
      <!-- CARD COLUMN -->
      <div class="flex flex-col justify-between flex-1 gap-10">
        <div class="flex justify-between w-full md:gap-28 flex-col md:flex-row">
          <h4 class="mb-3.5 text-xl font-bold flex-1">
            Abstract concept in design
          </h4>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">May 28, 2025</p>
          <p class="text-[rgb(224,241,31)] font-semibold">CHECK</p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex justify-between w-full md:gap-28 flex-col md:flex-row">
          <h4 class="mb-3.5 text-xl font-bold flex-1">
            Our first design project
          </h4>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">April 28, 2025</p>
          <p class="text-[rgb(224,241,31)] font-semibold">CHECK</p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex justify-between w-full md:gap-28 flex-col md:flex-row">
          <h4 class="mb-3.5 text-xl font-bold flex-1">
            Animation in web design
          </h4>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">February 18, 2025</p>
          <p class="text-[rgb(224,241,31)] font-semibold">CHECK</p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
        <div class="flex justify-between w-full md:gap-28 flex-col md:flex-row">
          <h4 class="mb-3.5 text-xl font-bold flex-1">
            Color theory in design
          </h4>
          <p class="text-[rgba(241,241,241,0.55)] mb-3.5">January 18, 2025</p>
          <p class="text-[rgb(224,241,31)] font-semibold">CHECK</p>
        </div>
        <div class="h-0.5 w-full bg-[rgba(240,240,240,.1)]"></div>
      </div>
    </div>
    <!-- END -->
  </div>
</section>
